@mixin button-like($bg-color, $bg-color-hover: $bg-color) {
  transition: background-color $anim-duration $easing-function;
  background-color: $bg-color;

  &:hover {
    background-color: lighten($bg-color-hover, 10%);
  }

  &:active {
    transition: none;
    background-color: lighten($bg-color-hover, 20%);
  }
}
