@use "sass:color";
@use "_variables";

@mixin button-like($bg-color, $bg-color-hover: $bg-color) {
  transition: background-color variables.$anim-duration variables.$easing-function;
  background-color: $bg-color;

  &:hover {
    background-color: color.adjust($bg-color-hover, $lightness: 10%);
  }

  &:active {
    transition: none;
    background-color: color.adjust($bg-color-hover, $lightness: 20%);
  }
}
