// colors
$bg-color-1: #161616;
$bg-color-2: #222222;

$bg-color-1-transparent: transparentize(
  $color: $bg-color-1,
  $amount: 0.2,
);

$bg-color-2-transparent: transparentize(
  $color: $bg-color-2,
  $amount: 0.2,
);

$main-color: white;

// sizes
$top-bar-height: 5rem;
$min-height: 850px;

// breakpoints
$mobile-breakpoint: 640px;
$tablet-breakpoint: 1024px;

// animation timing
$easing-function: ease;
$anim-duration: 0.5s;
