// colors
$bg-color-1: #151515;
$bg-color-2: #303030;

$bg-color-1-transparent: transparentize(
  $color: $bg-color-1,
  $amount: 0.15,
);

$bg-color-2-transparent: transparentize(
  $color: $bg-color-2,
  $amount: 0.15,
);

$main-color: white;

// sizes
$top-bar-height: 5rem;
$min-height: 850px;

// breakpoints
$mobile-breakpoint: 640px;
$tablet-breakpoint: 1024px;

// animation timing
$easing-function: ease-out;
$anim-duration: 0.3s;
