.about-page-info {
  display: flex;
  flex-direction: column;
}

.about-page-picture {
  width: 50vw;
  min-width: 12rem;
  max-width: 18rem;

  border-radius: $border-radius;
  align-self: center;
}

.about-page-quote {
  margin-top: 2rem;
  font-size: 1.25rem;
}
