.contact-page {
  position: relative;
}

.contact-page-entries {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.contact-page-entry {
  margin: 1rem;
  padding: 2rem;

  border-radius: 50%;

  @include button-like($bg-color-1-transparent);
}

.contact-page-icon {
  width: 3rem;
  height: 3rem;
}

footer {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 0.75rem;
  width: 100%;
  bottom: 0;
  left: 0;
}

.contact-page-kofi {
  display: block;
  margin-top: 1rem;
}

.contact-page-kofi-img {
  display: block;

  width: 40vw;
  max-width: 25rem;
  min-width: 15rem;
  margin: auto;
}

@media (min-width: $mobile-breakpoint) {
  .contact-page-entries {
    flex-direction: row;
  }

  .contact-page-icon {
    width: 5rem;
    height: 5rem;
  }
}
