.home-page {
  font-size: 1.25rem;
}

.home-page-title {
  opacity: 0;
  animation: fadein-moveup $anim-duration $easing-function forwards;
}

.typing-text {
  white-space: pre-wrap;
  display: inline-block;
}

@media (min-width: $mobile-breakpoint) {
  .home-page {
    font-size: 2rem;
  }
}
