.project-card {
  overflow: auto;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  padding: 0.5rem;

  background-color: $bg-color-1-transparent;
}

.project-card-image {
  width: 4rem;
  height: 4rem;

  margin-bottom: 0.5rem;

  fill: white;
}

.project-card-icons {
  margin-top: 0.5rem;
}

.project-card-link {
  box-sizing: border-box;
  display: block;
  margin: 0.5rem auto 0;
  padding: 0.25rem;

  border-radius: 1rem;

  width: 100%;

  @include button-like($bg-color-2-transparent);
}

.skill-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.1rem;
}

@media (min-width: $mobile-breakpoint) {
  .project-card-image {
    margin-bottom: 1rem;
  }

  .project-card-image {
    width: 5rem;
    height: 5rem;
  }
}
