.projects-page-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: $mobile-breakpoint) {
  .projects-page-grid {
  }
}

@media (min-width: $tablet-breakpoint) {
  .projects-page-grid {
  }
}
