.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.25rem;
  padding: 0.5rem;
  border-radius: $border-radius;

  background-color: $bg-color-1-transparent;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  gap: 0.5rem;
}

.project-card-image {
  height: 15vw;
  max-height: 9rem;
  min-height: 4rem;
}

.project-card-description {
  flex: 1;
}

.project-card-links {
  display: flex;
  gap: 1rem;
}

.project-card-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  text-align: center;

  border-radius: $border-radius;

  @include button-like($bg-color-2);
}

.project-card-link-image {
  width: 4vw;
  min-width: 1rem;
  max-width: 2rem;
}

.project-card-skills {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.skill-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.skill-container {
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  background-color: $bg-color-2;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (min-width: $mobile-breakpoint) {
  .project-card {
    gap: 1rem;
    flex-direction: row;
  }
}
