@use "_variables";

.projects-page-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: variables.$mobile-breakpoint) {
  .projects-page-grid {
  }
}

@media (min-width: variables.$tablet-breakpoint) {
  .projects-page-grid {
  }
}
