// global dependencies
@import "./_keyframes";
@import "./_variables";
@import "./_mixins";

// partials
@import "./about-page";
@import "./contact-page";
@import "./home-page";
@import "./project-card";
@import "./projects-page";
@import "./top-bar";

// CSS Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  font-size: 16px;

  color: $main-color;
  background-color: black;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  animation: fadein 1s ease backwards;
}

body::-webkit-scrollbar {
  display: none;
}

// Elements
a,
button {
  cursor: pointer;
}

a {
  transition: color $anim-duration $easing-function;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $main-color;
  }
}

h1 {
  font-weight: bold;
}

p {
  margin-top: 0.5em;
}

em,
i {
  font-style: italic;
}

// Classes
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.inline {
  display: inline;
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $tablet-breakpoint;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  background: transparent;
  display: inline-block;
  box-sizing: border-box;

  min-height: max(#{$min-height}, 100vh);

  padding-top: $top-bar-height;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 0.5rem;
}

.background-canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: -1;
}

@media (min-width: $mobile-breakpoint) {
  body {
    font-size: 1.25rem;
  }

  .section-title {
    font-size: 4rem;
    margin-top: 1rem;
  }
}

@media (min-width: $tablet-breakpoint) {
  .section-title {
    font-size: 5rem;
    margin-top: 2rem;
  }
}
